@model RunGymFront.Models.EjercicioDto

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunGym - Flexión de Diamante con Salto</title>
    <link rel="stylesheet" href="~/Content/css/Rutinas/diamante.css">
</head>
<body>
    <header>
        <h1>RunGym</h1>
        <p>¡Tu guía para el ejercicio desde casa!</p>
    </header>
    <main>
        <div class="exercise-container">
            <div class="exercise-info">
                @foreach (var detalles in Model.Detalles)
                {
                <h2>Ejercicio: @Model.Nombre</h2>
                <p><strong>Descripción:</strong> @detalles.Descripcion</p>
                <ul>
                    <li><strong>Repeticiones:</strong> @detalles.Repeticiones</li>
                    <li><strong>Descanso:</strong> @detalles.Descanso</li>
                    <li><strong>Cuidados:</strong> @detalles.Cuidados</li>
                </ul>
                }
                <div class="steps">
                    <h3>Paso a Paso:</h3>
                   @foreach (var paso in Model.Pasos)
                   {
                    <ol>
                        <li>@paso.DescripcionPaso</li>
                    </ol>
                   }
                </div>
            </div>


            <div class="exercise-media">
                @foreach (var con in Model.Detalles)
                {
                    <img src="@con.URLVideo" />
                }
                </div>

            
        </div>
    </main>

</body>
</html>

